@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
  padding: 15%;
  font-family: 'Caveat', cursive;
  font-size: 120%;
  background-color: #ffffff;
  
}
a {
  color: #db9823;
  text-decoration: none;
  transition: color 0.1s;
}
a:hover {
  color: #025464;
}
button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #E8AA42;
  border-radius: 5px;
  padding: 2px 10px;
  color: #ffffff;
  border: 0;
  transition: background-color 0.1s;
}
button:hover {
  background-color: #025464;
}
.choices button {
  display: block;
}
input[type="text"] {
  font-size: 100%;
}
ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}
li {
  padding: 5px;
  list-style: decimal inside none;
}
li:nth-child(odd) {
  background-color: #f3edfc;
}
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}
.hide {
  display: none;
}
.start {
  text-align: center;
}
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}
.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  border-top: 2px solid rgb(242, 234, 234);
}
.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #db9823;
}