body {
    font-size: 140%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a {
    color: lightskyblue;
    transition: color 0.1s;
}
a:hover {
    color: darkorchid;
}
button:hover {
    background-color: lightpink;
}
button {
    transition: background-color 0.1s;
    color: white;
    background-color: rgb(85, 85, 208);
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    margin: 5px;
}
button:hover {
    background-color: lightblue;
}
input[type="text"] {
    font-size: 100%;
}
ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;   
}
.choice button {
    display: block;
}
li {
    padding: 5px;
    list-style: decimal inside none;
}
li:nth-child(odd) {
    background-color: azure;
}
